<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349062106097-om4227gsokropmiph2n5p0hop328g68d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349062106097-om4227gsokropmiph2n5p0hop328g68d</string>
	<key>API_KEY</key>
	<string>AIzaSyASbOeMwC9G6JpEAAKoWO3fvDo0GUSdeXE</string>
	<key>GCM_SENDER_ID</key>
	<string>349062106097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geofencedAttendanceSystem</string>
	<key>PROJECT_ID</key>
	<string>macro-dreamer-348416</string>
	<key>STORAGE_BUCKET</key>
	<string>macro-dreamer-348416.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349062106097:ios:a0aced84c882bfe90dd250</string>
</dict>
</plist>